<!DOCTYPE html>
<html>
<head>
    <style>
        canvas {
           position:fixed;
           top:360;
           left:155;
           z-index:-1;
        }
    </style>

</head>
<body>
    <h1>Heading</h1>
    <p>paragraph 1</p>
    <p>paragraph 2</p>
    <script src="processing-1.4.1.min.js"></script>
    <div id="canvasContainer">
    <canvas data-processing-sources="magnettv.pde"></canvas>
    </div>
</body>